@import url("./styles/catppuccin-macchiato.css");

* {
    font-family: "CaskaydiaCove";
    font-weight: bold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @surface0;
    border-radius: 10px;
}

.control-center{
    background: @surface0;
    border: 1px solid @overlay0;
	  color: #fff;
    border-radius: 10px;
}

.control-center-list {
    background: transparent
}

.control-center-list-placeholder {
    opacity: 0.5
}

.body {
    font-size: 1rem;
    font-weight: bold;
    background: @surface0;
    color: @text;
    text-shadow: none
}


.body-image {
    margin-top: 6px;
    color: #fff;
    border-radius: 10px
}

.summary {
    font-size: 1rem;
    font-weight: bold;
    background: @surface0;
   color: #fff;
    text-shadow: none
}

.time {
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: #fff;
    text-shadow: none;
    margin-right: 18px
}

.floating-notifications {
    background: transparent;
}

.blank-window {
    background: transparent;
}

.widget-title {
    color: @mauve;
    padding: 10px 12px;
    font-size: 2rem;
    border-radius: 10px;
}

.widget-title>button{
    background-color: @green;
    border: 1px solid @crust;
    font-size: 1.4rem;
    color: @base;
    padding: 4px 16px;
}

.widget-dnd {
    font-size: 1.4rem;
    color: @green;
    padding: 10px 12px;
}

.widget-dnd>label{
    margin: 0 0 0 250px;
}

.widget-dnd>switch {
    background: @overlay0;
    border: 1px solid @mantle;
}

.widget-dnd>switch:checked {
    background: @green;
    border: 1px solid @mantle;
}

.widget-dnd>switch slider {
    background: @overlay2;
    border: 2px solid @mantle;
}

.widget-dnd>switch:checked slider {
    background: @green;
    border: 2px solid @mantle;
}

.notification-default-action,
.notification-action,
.notification-default-action:hover,
.notification-action:hover {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  border: none;
}

.image {
    margin-left: -3px;
    margin-right: 8px;
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
  }
  
  .body-image {
    background-color: white;
  }
  
  .summary {
    font-size: 1.2em;
    font-weight: bold;
    background: transparent;
    color: @peach;
    text-shadow: none;
  }
  
  .time {
    font-size: 1.2em;
    font-weight: normal;
    color: @lavender;
    margin-bottom: 5px;
    font-style: italic;
  }
  
  .body {
    font-size: 12pt;
    padding: 0;
    font-weight: normal;
    background: transparent;
    color: @text;
  }

  .floating-notifications .notification-row {
    padding: 0;
  }
  
  .notification-row {
    outline: none;
    margin: 0;
    padding: 0px;
  }
  
  .notification-row:focus,
  .notification-row:hover {
    background: alpha(@mantle, 0.2);
  }
  
  .notification-group-headers {
    font-weight: bold;
    font-size: 1.25rem;
    color: @text;
    letter-spacing: 2px;
  }
  
  .notification-group-icon {
    color: alpha(@mantle, 0.7);
    margin-right: 8px;
  }
  
  .notification-group-collapse-button {
    background: transparent;
    border: none;
  }
  
  .notification-group-collapse-button:hover {
    background: alpha(@mantle, 0.2);
  }
  
  .notification-group-close-all-button {
    background: transparent;
    border: none;
  }
  
  .notification-group-close-all-button:hover {
    background: alpha(@mantle, 0.2);
  }
  
  .notification {
    padding: 4px;
    border-radius: 15px;
    background: @base;
  }
  
  .low {
    border: 1px solid @yellow;
  }

  .normal {
    border: 1px solid @peach;
  }

  .notification.critical {
    background: @base;
    border: 1px solid @red;
    color: @text;
  }
  
  .notification-content {
    padding: 5px 0;
    margin-left: 10px;
    color: @text;
    background: transparent;
  }
  
  /* no mouse, ty */
  .close-button,
  .close-button:hover {
    background: transparent;
    color: transparent;
  }
  

.widget-mpris {
  background: transparent;
  border: 0px solid @crust;
  margin: 0px;
}

.widget-mpris-player{
  background: transparent;
  padding: 12px;
  /*border-radius: 12px;*/
}

.widget-mpris .widget-mpris-player button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: transparent;
  color: @text;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
  /*border-radius: 12px;*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  margin: 0;
  padding: 0;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
  color: @rosewater;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
  font-size: 1.1rem;
  color: @blue;
}

.widget-mpris .widget-mpris-player > box > button {
  /* Change player control buttons */
}

.widget-mpris .widget-mpris-player > box > button:hover {
}

.widget-mpris > box > button {
  /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
}
